<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.xianbozhan.dao.SystemDAO">

	<select id="getDepartmentName" resultType="com.system.xianbozhan.entity.Department">
		select * from department
	</select>
	
	
	<select id="getRoleName" resultType="com.system.xianbozhan.entity.Role">
		select * from role
	</select>
	
	
	<select id="getSearchList" resultType="com.system.xianbozhan.entity.Search">
		select * from search
	</select>


</mapper>