<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
		<!-- 打印sql -->
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
	
	 <typeAliases>
		<!--给实体类自定义别名-->
		<package name="com.system.xianbozhan.entity"/>
	</typeAliases>
</configuration>