@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.combo {
	width: 160px;
}

.combo input {
	width: 127px;
}

.combo-text {
	width: 130px;
}
#container {
	width: 1330px;
	height: 520px;
	margin: 0 auto;
	margin-top: 10px;
}

 .right {
	width:500px;
	height: 500px;
	background: rgb(0, 3, 58);
	float: left;
}

.left {
	width: 800px;
	height: 520px;
	background: rgb(0, 3, 58);
	float: left;
}
.left_top, .right_top {
	width: 100%;
	height: 50px;
	background: rgb(0, 3, 58);
}

.left_top span, .right_top span {
	display: block;
	widht: 200px;
	height: 50px;
	line-height: 50px;
	color: rgb(252, 193, 123);
	padding-left: 10px;
	float: left;
}

.left_bottom {
	width: 100%;
	height: 450px;
}

.left_earch {
	width: 320px;
	height: 100%;
	line-height: 50px;
	color: rgb(79, 231, 254);
	float: right;
}

.left_earch input {
	height: 27px;
}

#but {
	width: 50px;
	height: 30px;
	background: rgb(12, 59, 142);
	color: rgb(252,193,123);
	border: none;
	cursor: pointer;
}

#tab {
	width: 100%;
}

#tab tr {
	background: rgb(6, 47, 103);
	height: 33px;
	font-size: 14px;
	text-align: center;
	font-size: 14px;
	color: rgb(252, 193, 123); /*rgb(79, 231, 254);*/
}

#tab tr:hover {
	background: rgb(4, 32, 79);
}

#bg {
	height: 35px;
	background: url("../images/headPG.png");
}

#count {
	display: block;
	width: 1310px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	color: rgb(130, 130, 182);
	padding: 0 10px;
	border-bottom: 1px solid rgb(8, 35, 69);
}
#page{
	position: absolute;
	bottom: 20px;
}
#page_left {
	/* color: rgb(252, 193, 123); */
	float: left;
}

#page_left font {
	cursor: pointer;
}

#page_right {
	float: right;
}
#page_left span{
	
}
#page_right span {
	display: block;
	border: 1px solid rgb(36, 78, 153);
	padding: 0 20px;
	/* margin-left: 5px; */
	cursor: pointer;
	float: right;
	margin-right: 20px;
}
#page_right span:hover{
	background: rgb(0, 39, 118);
	color: rgb(79, 231, 254);
}

#page_left, #page_right {
	width: 280px;
	height: 35px;
	line-height: 35px;
	color: rgb(252, 193, 123);
	margin-top: 10px;
}
#win{
	background: rgb(0, 13, 48);
}

#box_tab{
	color: rgb(79, 231, 254);
	font-size: 14px;
	margin-left: 20px;
	width: 280px;
}
#box_tab tr{
	height: 35px;
}
#box_tab tr td{
	margin-left: 10px;
	padding-left: 10px;
}

#box_tab tr td input{
	width: 160px;
	height: 25px;	
	background: rgb(6, 47, 103);
	border: 1px solid rgb(79, 231, 254);
	border-radius: 3px;
	padding-left: 10px;
	color: rgb(79, 231, 254);
}

.color a:link {
	color: red;
	text-decoration: none;
}

.color a:visited {
	color: red;
}

.color a:hover {
	color: blue;
}

 