@charset "UTF-8";
*{
	margin: 0 ;
	padding: 0;
}
.combobox-item{
	height: 20px;
	font-size:13px;
	padding:5px;
	padding-right:0px;
	background: none;
	color: rgb(249,192,122);
}

.combobox-item-hover{
	background: rgb(254,249,226);
	cursor: pointer;
}

.panel-body{
	overflow:auto;
	width: 220px;
	border:1px solid #99BBE8;
	border-top-width:0px;
	background: rgba(0,0,0,.2);
}

.panel{
	width: 220px;
	overflow:hidden;
	font-size:13px;
	background: rgba(0,0,0,.4);
}
.panel-header{
	padding:5px;
	line-height:15px;
	color:#15428b;
	font-weight:bold;
	font-size:12px;
	background:url('images/panel_title.png') repeat-x;
	position:relative;
	border:1px solid #99BBE8;
}
.panel-title{
	background:url('images/blank.gif') no-repeat;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #99BBE8;
}

.panel-body-noheader{
	border-top-width:1px;
}
.panel-body-noborder{
	border-width:0px;
}
.panel-with-icon{
	padding-left:18px;
}
.panel-icon{
	position:absolute;
	left:5px;
	top:4px;
	width:16px;
	height:16px;
}

.panel-tool{
	position:absolute;
	right:5px;
	top:4px;
}

.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:13px;
	color: white;
	margin-left: 5px;
	width: 200px;
	padding:0;
	background:#fff;
}
.combo-text{
	font-size:12px;
	width: 200px;
	line-height:20px;
	height:30px;
	padding-left:5px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
	background: rgb(4,32,79);
	border:1px solid blue;
	color: white;
}

.tree-node{
	width: 276px;
	height:30px;
	line-height: 30px;
	font-size: 13px;
	color: rgb(249, 182, 82);
	white-space:nowrap;
	cursor:pointer;
}


#container{
	position: relative;
	width: 1040px;
	height: 540px;
	border: red;
}
.left{
	width: 750px;
	height: 528px;
	float: left;
}

.left_top{
	width: 750px;
	height: 380px;
}
.left_top img{
	width: 750px;
	height: 380px;
}
.left_bottom{
	width: 750px;
	height: 138px;
	margin-top: 10px;
	/* border: 1px solid rgb(0, 22, 70); */
	background: rgb(0, 22, 70);
}

.right{
	width: 280px;
	height: 540px;
	float: right;
}
.right_top{
	width: 278px;
	height: 258px;
	background: rgb(0, 22, 70);
	border: 1px solid rgb(0, 22, 70);
}
.nav_p{
	width: 270px;
	line-height: 40px;
	padding-left: 10px;
	background: rgb(0, 13, 48);
	color: rgb(79, 231, 254);
}
#navTab{
	width: 280px;
	margin-left: -1px;
	font-family: "正楷";
}
#navTab tr{
	height: 29px
}
#navTab tr td{
	width: 90px;
	background: url("../images/btn_background.png");
	text-align: center;
	font-size: 14px;
}
#navTab tr td a:link{
	text-decoration: none;
	color: rgb(252, 193, 123);
}
#navTab tr td a:visited{
	text-decoration: none;
	color: rgb(252, 193, 123);
}
#navTab tr td a:hover{
	text-decoration: none;
	color: rgb(79, 231, 254);
}
.nav_bottom{
	width: 280px;
	height: 260px;
	margin-top: 10px;
}
.preSpan, .nextSpan{
	width: 20px;
	height: 40px;
	margin-top: 50px;
	/* background: rgb(79, 231, 254);
	border: 1px solid rgb(79, 231, 254); */
	border-radius: 3px;
	display: block
}
.preSpan{
	float: left;
}
.nextSpan{
	float: right;
}
.picUl{
	position: relative;
	left: 10px;
	top: 10px;
	width: 690px;
	height: 120px;
	float: left;
}
.picUl li{
	list-style-type: none;
	width: 165px;
	height: 120px;
	border: 1px solid rgb(252, 193, 123);
	margin-left: 5px;
	float: left;
}
.picUl li img{
	width: 165px;
	height: 120px;
}

#bl{
	width: 300px;
	height: 100%;
	background: rgb(0, 22, 70);
	
	float: left;
}
#br{
	width: 1045px;
	height: 100%;
	margin-top: 10px;
	float: right;
}
#main{
	width: 100%;
	height: 540px;
}
#iframe{
	width: 1040px;
	height: 540px;
}
#each{
	width: 100%;
	height: 40px;
	margin-bottom: 5px;
}
#cc{
	width: 300px;
	height: 40px;
	outline: none;
}
#but{
	width: 50px;
	height: 32px;
	margin: 10px 0 0 10px;
	background: rgb(13,60,142);
	color: rgb(249,192,122);
	border: 0;
}
#but:hover{
	color: white;
	background: rgb(13,60, 142);
	border: 0;
	cursor: pointer;
}
.tree-title a:link{
	text-decoration: none;
	color: rgb(249,192,122);
}
.tree-title a:visited{
	text-decoration: none;
	color: rgb(249,192,122);
}
.tree-title a:hover{
	text-decoration: none;
	color: rgb(79, 231, 254);
}
.tree-node-selected{
	background: rgb(241, 243, 244);
}
.tree-node-hover{
	background: rgb(0, 60, 133);
}
