@charset "UTF-8";
.combobox-item{
	height: 20px;
	font-size:13px;
	padding:5px;
	padding-right:0px;
	background: none;
	color: rgb(249,192,122);
}

.combobox-item-hover{
	background: rgb(254,249,226);
	cursor: pointer;
}

.panel-body{
	overflow:auto;
	width: 220px;
	border:1px solid #99BBE8;
	border-top-width:0px;
	background: rgba(0,0,0,.2);
}

.panel{
	width: 220px;
	overflow:hidden;
	font-size:13px;
	background: rgba(0,0,0,.4);
}
.panel-header{
	padding:5px;
	line-height:15px;
	color:#15428b;
	font-weight:bold;
	font-size:12px;
	background:url('images/panel_title.png') repeat-x;
	position:relative;
	border:1px solid #99BBE8;
}
.panel-title{
	background:url('images/blank.gif') no-repeat;
}
.panel-header-noborder{
	border-width:0px;
	border-bottom:1px solid #99BBE8;
}

.panel-body-noheader{
	border-top-width:1px;
}
.panel-body-noborder{
	border-width:0px;
}
.panel-with-icon{
	padding-left:18px;
}
.panel-icon{
	position:absolute;
	left:5px;
	top:4px;
	width:16px;
	height:16px;
}

.panel-tool{
	position:absolute;
	right:5px;
	top:4px;
}

.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:13px;
	color: white;
	margin-left: 5px;
	width: 200px;
	padding:0;
	background:#fff;
}
.combo-text{
	font-size:12px;
	width: 200px;
	line-height:20px;
	height:30px;
	padding-left:5px;
	*height:18px;
	*line-height:18px;
	_height:18px;
	_line-height:18px;
	background: rgb(4,32,79);
	border:1px solid blue;
	color: white;
}

.tree-node{
	width: 276px;
	height:30px;
	line-height: 30px;
	font-size: 13px;
	color: rgb(249, 182, 82);
	white-space:nowrap;
	cursor:pointer;
}